.filters {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}   
  
  .title {
      margin-top: 2px;
      margin-bottom: 20px;
    }
  
    .filters-available-size {
      display: inline-block;
      margin-bottom: 10px;
    }

      /* Customize the label (the container) */
      label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 150px;
        height: 35px;
        font-size: 0.8em;
        margin-bottom: 8px;
        margin-right: 8px;
        line-height: 35px;
        text-align: center;
      }
        /* On mouse-over, add a grey background color */
        .input:hover input ~ .checkmark {
          border: 1px solid #1b1a20;
        }
  
        /* Show the checkmark when checked */
         input:checked ~ .checkmark:after {
          display: block;
        }
  
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
  
        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          width: 150px;
          height: 35px;
          font-size: 0.8em;
          line-height: 35px;
          text-align: center;
          color: #1b1a20;
          background-color: #ececec;
          border: 1px solid transparent;
        }
      
    
  
  